<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta http-equiv="Refresh" content="5"/>
    <style type="text/css">
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }
        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }
        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 3px 3px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 1px 2px;
            cursor: pointer;
        }
        .link {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 3px 3px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 1px 2px;
            cursor: pointer;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
 </head>
<body>
<img src="https://www.capgemini.com/sites/all/themes/capgemini/logo.png" alt="Capgemini Consulting" />
<h1>
IoT demo e-helse
</h1>
<div style="tab-size:2 ">
   <span>By link:
    <a href="mailto:tore-gard.andersen@capgemini.com?Subject=IoT spørsmål" target="_top">Tore Gard Andersen</a>
    </span>
    <span style="tab-size:13px">
    <a class="button" href="https://dl.dropboxusercontent.com/u/25148291/android/app-debug.apk" >download androidapp</a>
     </span>
    <span style="tab-size:13px">
        <button class="button" onclick="fjern()">Tøm liste</button>
    </span>
</div>

<div id="urler"></div>
<div>
<table id="tblMain"  class="gridtable">
    <tr >
    <th>Dato</th>
    <th>MobilId</th>
    <th>Hendelse</th>
    </tr>
        <tr th:each="hendelse : ${hendelser}">
            <td th:text="${hendelse.dato}"></td>
            <td th:text="${hendelse.mobilId}"></td>
            <!--<td th:text="${hendelse.typeHendelse}"></td>-->
            <div th:if="${hendelse.typeHendelse} == 'helpButton'">
             <td> <span class="fa fa-ambulance" style="font-size:12px;color:red"></span>HJELP</td>
            </div>
            <div th:if="${hendelse.typeHendelse} == 'ringMegKnapp'">
                <td> <span class="material-icons" style="font-size:12px;color:cornflowerblue">phone_iphone</span>RING MEG</td>
            </div>
            <div th:if="${hendelse.typeHendelse} == 'StartetTurKnapp'">
                <td> <span class="material-icons" style="font-size:14px;color:cornflowerblue">accessibility</span>START TUR</td>
            </div>
            <div th:if="${hendelse.typeHendelse} == 'StoppetTurKnapp'">
                <td> <span class="material-icons" style="font-size:14px;color:cornflowerblue">accessible</span>STOP TUR</td>
            </div>
          </tr>
 </table>

</div>
<script>
    function getpath(host,protocol){
        return {
            host : host ,
            protocol : protocol,
            heleurl : protocol+"//"+host+'/'
        }
    }

    /**
     * Fjern alt
     */
    function fjern() {
        const _url =this.getpath(window.location.host,window.location.protocol);
        const deleteUrl = _url.heleurl+"ehelse/melding/delete";
        console.log(deleteUrl);
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", deleteUrl, false);
        xhttp.setRequestHeader("Content-type", "application/text");
        xhttp.send();
        location.reload();
    }

    function sjekkOmTabellHarRader() {

    }
</script>
</body>
</html>